:root{
    --color-negatives: #0C0C0C;
    --color-zero: #F0F0F2;
    --color-first: #F23D6D;

    --color-second: #05F2F2;
    --color-third: #2CABE0;
    --color-fourth: #124559;
    --color-fifth: #093964;
    --color-sixth: #0D2840;

    --color-seventh: #1A1A1C;
    --color-eighth: #6F707B;
    --color-ninth: #B7B7BE;
    --color-tenth: #CFCFD4;
}